@model Health_Insuarance_Management_System_webapp.Models.InsuranceCompanyModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InsuranceCompanyModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadOfficeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadOfficeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HelplineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HelplineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
