@model IEnumerable<Health_Insuarance_Management_System_webapp.Models.InsuranceCompanyModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadOfficeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HelplineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadOfficeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HelplineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
