@model IEnumerable<Health_Insuarance_Management_System_webapp.Models.DepartmentModel>

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}



<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table  table-bordered mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeptName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptLocation)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DeptId" class="btn btn-success">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DeptId" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeptId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
